.training-plans-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 25%;
    background-color: #2C3E50;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.logout-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background-color: #E74C3C;
    color: white;
    cursor: pointer;
}

.main-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    background-color: #f4f4f4;
}

.button {
    padding: 10px;
    margin: 10px 0;
    background-color: #3498DB;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #e8e8e8;
}

.plan-container {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #fff;
    border-left: 1px solid #ccc;
}
